.popup-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    padding: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    column-gap: 15px;
    border: 2px solid;
}
