h2 {
    margin: 0 0 10px;
}
ul {
    margin: 0;
}
p {
    margin: 10px 0;
}

.menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
